@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.025em;
}
@keyframes twinkle {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes moveAround {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(20px, -15px);
  }
  66% {
    transform: translate(-15px, 8px);
  }
  100% {
    transform: translate(8px, -20px);
  }
}

/**
Custom CSS for the project
*/

/* Global heading and paragraph styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

p {
  color: white;
  margin: 0;
}

span {
  color: white;
}

h1 {
  font-size: 3rem; /* 48px */
}

h2 {
  font-size: 2.5rem; /* 40px */
}

h3 {
  font-size: 2rem; /* 32px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

h6 {
  font-size: 1rem; /* 16px */
}

p {
  font-size: 1rem; /* 16px */
  line-height: 1.6;
}

.glowing-text {
  text-shadow: 0 0 14px rgba(255, 255, 255, 0.85);
}

.glowing-border-bottom {
  box-shadow: 0 6px 14px rgba(99, 102, 241, 0.85);
}
